<a href="https://colab.research.google.com/github/thihasoul21/MMDT_T-PY101_Batch03/blob/main/ThihaSoe/Ex01_Intro_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction

This section introduces the Python Programming uisng Colab. Follow the instructions and complete the exercises.

# Ex 1 : Check Version

Using the below cell, Import the required library and check the version of the python in your environment.

In [2]:
import sys
sys.version

'3.12.12 (main, Oct 10 2025, 08:52:57) [GCC 11.4.0]'

# Ex2 : Convert Currency.

In [6]:
usd = 1500
bp = usd*0.82
print(bp)

1230.0

In [8]:
usd_amount = input ("Enter the amount in USD")
bp_amount = int(usd_amount)*0.82
print("usd" + str(usd) + "is equivalent to" + str(bp))

Enter the amount in USD1500
usd1500is equivalent to1230.0

In [9]:
usd_amount = input("Enter the amount in USD")
bp_amount = int(usd_amount) *0.82
print("{} usd is equivalent to {} British pound".format(usd_amount, bp_amount))

Enter the amount in USD1500
1500 usd is equivalent to 1230.0 British pound

Write a program that asks the user for the amount in usd and converts it to British pounds. The exchange rate is from usd to BP is given as 0.82

In [3]:
usd_amount = input ("Enter the amount in USD: ")
bp_amount = int(usd_amount) *0.82
print("{} usd is equivalent to {} british pound".format(usd_amount, bp_amount))

Enter the amount in USD: 2000
2000 usd is equivalent to 1640.0 british pound

# Ex 3: Temperature Converter

Write a program that convert temperature in Feranhite to celsius.

In [12]:
Celsius = 20
feranhite = Celsius*9/5 + 32
print(feranhite)

68.0

In [29]:
celsius = 20
feranhite = celsius*9/5 + 32
print("Celsius"  +  str(celsius) + "is equivalent to" +  str(feranhite))

Celsius20is equivalent to68.0

In [2]:
celsius_amount = input("Enter the amount in celsius")
feranhite_amount = int(celsius_amount)*9/5 + 32
print("{} celsius is equivalent to {} feranhite".format(celsius_amount, feranhite_amount))

Enter the amount in celsius20
20 celsius is equivalent to 68.0 feranhite

# Ex 4: Daily Maths

You are working in a retail shop. Write a program that computes the total cost for a customer that bought 3 differnt types of fruits : apple, orange, mango. Ask the user to enter the quantity and price for each type.

In [80]:
fruit = input("Enter the type of fruit")
quantity = input("Enter the quantity of fruit")
price = input("Enter the price of fruit")
total_cost = int(quantity)*int(price)
print("The total cost of {} is {}".format(fruit,total_cost))

Enter the type of fruitorange
Enter the quantity of fruit21
Enter the price of fruit22
The total cost of orange is 462

# Ex 5 : Greeting

Write a program to greet the customer who provides the user name. Your program should ask the name of the customer and print "Hello + customer name"

In [29]:
customer_name = input("Enter your name")
print("Hello", customer_name)

Enter your nameThiha
Hello Thiha

# Ex 6: Random Number
Write a program that generates a random number, x, between 1 and 50, a random number y between 2 and 5, and computes x^y.

In [9]:
from random import randint
x = randint(1,50)
print('A random number between 1 and 50: ', x)

A random number between 1 and 50:  2

In [11]:
y = randint(2,5)
print('A random number between 2 and 5: ',y)

A random number between 2 and 5:  3

In [28]:
x =randint(1,50)
y =randint(2,5)
print('A random number between x and y: ',  x^y)

A random number between x and y:  28

# Ex 7: Greet many times.
Write a program that generates a random number between 1 and 10 and prints your name that many times.

In [36]:
my_name = "Thiha"
x = randint(1,10)
print(x*my_name)

ThihaThihaThihaThihaThihaThihaThihaThihaThihaThiha

# Ex 8: Computing.
Write a program that asks the user to enter two numbers, x and y, and computes |x-y|/(x+y).

In [39]:
x = float(input("Enter the first number: "))
y = float(input("Enter the second number: "))

# Compute |x-y| / (x+y)
if (x + y) != 0:
    result = abs(x - y) / (x + y)
    print(f"The computed value of |x-y|/(x+y) is: {result}")
else:
    print("Error: Cannot compute; the sum of x and y is zero, which would lead to division by zero.")

Enter the first number: 25
Enter the second number: 34
The computed value of |x-y|/(x+y) is: 0.15254237288135594

# Ex 9: Computing

Write a program that asks the user for a number of seconds and prints out how many minutes and seconds that is. For instance, 200 seconds is 3 minutes and 20 seconds.

In [84]:
second = int(input("Enter a number of seconds:"))
minute = int(second / 60)
remaining_seconds = second % 60
print("{} seconds is equivalent to {} minutes and {} seconds".format(second,minute,remaining_seconds))

Enter a number of seconds:300
300 seconds is equivalent to 5 minutes and 0 seconds

# Ex 10: Using Math Module

Write a program that asks the user for a number and then prints out the sine, cosine, and tangent of that number.

In [32]:
num = float(input("Enter a number:"))
sine_value = math.sin(num)
print(sine_value)

Enter a number:45
0.8509035245341184

In [36]:
nun = float(input("Enter a number:"))
cosine_value = math.cos(nun)
print(cosine_value)

Enter a number:45
0.5253219888177297

In [37]:
nun = float(input("Enter a number:"))
tangent_value = math.tan(num)
print(tangent_value)

Enter a number:45
1.6197751905438615