<a href="https://colab.research.google.com/github/thihasoul21/MMDT_T-PY101_Batch03/blob/main/ThihaSoe/Ex02_datatypes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Ex 1 : Check the lenght of the string "My name is python"

In [1]:
my_name = "My name is python"
print(len(my_name))

17

Ex 2: Check the number of times "python" (regardless of cases: PYTHON, python, Python" appears in the paragraph : "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."

In [3]:
my_str = "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."
print(my_str.count("Python"))

2

Ex 3: Combine two lists : ls1 = ["apple", "banana", "cherry"] and ls2 = ["apple", "banana", "cherry", "apple", "cherry"]. Print the number of elements in new list.

In [2]:
ls1 = ["apple",  "banana", "cherry"]
ls2 = ["apple", "banana", "cherry", "apple", "cherry"]
new_list = ls1 + ls2
print(len(new_list))

8

Ex 4: Create a dictionary for the following table:

| Name | Age |
| --- | --- |
| Myo | 32 |
| Thida | 64 |

In [22]:
my_dict = {"Name": ["Myo", "Thida"], "Age": [32, 64]}
print(my_dict["Name"])
print(my_dict["Age"])

['Myo', 'Thida']
[32, 64]

Ex 5: Combine two sets and print the combined set and its length.
set1 = {"Name", "age", "Height"}
set2 = {"Name", "status", "Education"}

In [4]:
set1 = {"Name", "age", "Height"}
set2 = {"Name", "status", "Education"}
combined_set = set1.union(set2)
print(combined_set)
print(len(combined_set))

{'Name', 'Education', 'Height', 'status', 'age'}
5

Ex 6: Write a program that asks the user to enter a string. The program should create a new string called new_string from the user's string such that the second character is changed to an asterisk and three exclamation points are attached to the end of the string. Finally, print new_string.

In [17]:
user_string = input("Enter a string:")
new_string = user_string[2] + "*" + user_string[2:] + "!!!"
print(new_string)

Enter a string:Imissyou
i*issyou!!!

Ex 7: Write a program that converts the given string 's' to lowercase, removes all Punctuation marks such as period, hyphen, and commas from 's', and prints the resulting string.

In [33]:
s = ("Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language.")
s = s.lower()
s = s.replace(",","")
s = s.replace("-"," ")
s = s.replace(";","")
print(s)

floating point values in python are always done in double precision hence python float types correspond to doubles in a c like language.

Ex 8: L1 and L2 should be identical. Write a program that finds the missing number in L2.

In [52]:
from random import randint
L1 = list(range(1,101))
L2 = L1.copy()
L2.remove(randint(1,101))
print(L1)
print(L2)
# Find the missing number by converting lists to sets and finding the difference
missing_number = list(set(L1) - set(L2))[0]
print("The missing number is:", missing_number)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
[1, 2, 3, 4, 5, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
The missing number is: 6

Ex 9: Write a program to copy the ls1 = ["apple", "banana", "cherry"] to a new list. Add the element "blueberry" to the new list, but keep the original list the same.

In [44]:
ls1 = ["apple", "banana", "cherry"]
new_element = ["blueberry"]
ls2 = ls1 + new_element
print("ls1:", ls1)
print("ls2:", ls2)

ls1: ['apple', 'banana', 'cherry']
ls2: ['apple', 'banana', 'cherry', 'blueberry']