# Loops
When coding, it's common to want to perform the same operation on a number of different variables. A common way to do this is by using a "loop", which allows a loop variable to cycle through a series of other variables and for operations to be carried out while the loop variable has that value.

## Syntax
The easiest way to demonstrate the syntax of a loop in Python is by using an example.

In [3]:
my_list=[1, 2, 4, 5]
for item in my_list:
  print("The start of a new iteration of my loop")
  print(item)
  a=item+1
  print(a)
  if a % 2 == 0:
    print("Even")

print("All done!")
print("What shall we do next?")

The start of a new iteration of my loop
1
2
Even
The start of a new iteration of my loop
2
3
The start of a new iteration of my loop
4
5
The start of a new iteration of my loop
5
6
Even
All done!
What shall we do next?

This syntax will work for any iterable type. Most collcetions, including lists and strings are iterable. "Iterable" means "able to give a sequence of values one after another". It's this feature which allows a for loop to extract the values of the loop variables one by one.

We begin by making a list, which is an example of an iterable type. We then use the syntax

```python
for item in my_list:
```

to declare that we are performing a loop with ```item``` as the loop variable and that we want ```item``` to take the value of each entry in ```my_list``` in turn. The colon at the end of the line signifies that the code we want to be carried out in each iteration of the loop is to follow. This code is marked by the fact that it is indented (use the tab button on your keyboard). All indented code will be carried out from top to bottom for each iteration. Then, the value of ```item``` will be changed to the next value and the indented code will be run again. After the indented section, the code will continue to be carried out in order from top to bottom.

### Exercise

It's also possible to loop characters in a strings in the same way as you might loop over items in a list. Put an ```if``` statement inside a loop over the variable ```longish_string``` such that you print out the vowels from its value only. Each printed letter may be on a different line of output.

In [21]:
longish_string="a longish string"
for string in longish_string:
  if string in "aeiou":
    print(string)

a
o
i
i

In [ ]:
#@title

longish_string="a longish string"

#Start a for loop such that letter will take each letter of longish_string in turn
for letter in longish_string:
  #Test if the current value of letter is a vowel using "in"
  if letter in "aeiou":
    #Print the current value of letter if it's a vowel
    print(letter)

## Modifying the Loop Variable

The loop varaible references the same value as the variable contained in the iterable object the loop is iterating over. However, if we assign to the loop variable, we are only affecting the loop variable, not the value stored in the iterable object we are looping over. For example:

In [23]:
my_list=[1, 2 , 4, 5]
for item in my_list:
  item = item +1
  print(item)


print(my_list)

2
3
5
6
[1, 2, 4, 5]

Note that the value of ```item``` is changed, but the values stored in ```my_list``` are not.

However, if the object associated with the loop variable is mutable, we can modify its value in the object being iterating over. For instance:

In [24]:
outer_list=[[1,2], [4,3]]

for inner_list in outer_list:
  inner_list[0]=max(inner_list)
  inner_list.append(10)
  inner_list = 1

print(outer_list)

[[2, 2, 10], [4, 3, 10]]

Note that the contents of the object being iterated over is changed. This is because the loop variable is being modified in-place, not having a different object assigned to it.

## Range
The syntax above is very useful for looping over a pre-existing iterable object. However, sometimes you want to loop over a range of numbers without saving them to a list first. For this, the ```range``` type is very useful. You may create a ```range``` object using the following syntax:

```python
r=range(start_number, stop_number, step)
```

In this construction, ```start_number``` gives the first value that will be returned by the range when it is iterated over, ```stop_number``` gives the first number that will not be returned (i.e. the range will stop iterating just before this number) and the ```step``` gives the difference between subsequent returned values.

In this construction, both ```start_number``` and ```step``` are optional.

If one argument is given, it will be assumed to be the ```stop_number```. The ```start_number``` will be taken to be 0 and the ```step``` will be 1.

If two arguments are given, the first will be the ```start_number``` and the second will be the ```stop_number``` and the ```step``` will be 1.

To actually use a ```range``` in a loop, we use it in the place where we previous put the list in the ```for``` loop as we want to iterate over it. Thus, we may write:

```python
r=range(0,10,1)
for i in r:
  [do stuff with i]
```

or

```python
for i in range(0,10,1):
  [do stuff with i]
```
For example:

In [ ]:
for i in range(0,6,2):
  print(i)

Note that, as the loop variable does not progress to the ```stop_number``` it is not printed.

### Exercise

Use a ```range``` and a ```for``` loop to calculate the following value:

$\sum\limits_{x=1}^{100}x^{2}$

The final value you should get is 338,350.

In [27]:
result = 0
for x in range(1, 101, 1):
  result = result + x**2
  print(result)
print(result)

1
5
14
30
55
91
140
204
285
385
506
650
819
1015
1240
1496
1785
2109
2470
2870
3311
3795
4324
4900
5525
6201
6930
7714
8555
9455
10416
11440
12529
13685
14910
16206
17575
19019
20540
22140
23821
25585
27434
29370
31395
33511
35720
38024
40425
42925
45526
48230
51039
53955
56980
60116
63365
66729
70210
73810
77531
81375
85344
89440
93665
98021
102510
107134
111895
116795
121836
127020
132349
137825
143450
149226
155155
161239
167480
173880
180441
187165
194054
201110
208335
215731
223300
231044
238965
247065
255346
263810
272459
281295
290320
299536
308945
318549
328350
338350
338350

In [ ]:
#@title

#We're going to loop over the values that x might take and add the square of them to the variable "result" which will keep a running total
#Initially set x to zero
result=0

#Loop over the values 1-100 (recall that the stop_number is the first number not included)
for x in range(1, 101, 1):
  #Add the square of the current value of x to the running total
  result=result+x**2

#Print the final result
print(result)

## Extension: Nested Loops
Like many constructs marked by indentations in Python, it is possible to "nest" loops to have a loop within a loop. This is done by double-indenting the contents of the inner loop. This looks like:

```python
for i in range(0,10,1):
  for j in range(0,5,1):
    print(i*j)
```

### Exercise
Look at the code below and see if you can work out what its output will look like before running it:

In [28]:
my_list=[[1,3],[4,6],[8,1]]

result=1

for inner in my_list:
  current=0
  for number in inner:
    current=current+number
  result=result*current

print(result)

360

## Extension: Loop Control Using Conditionals
It's possible to gain more control over a loop using conditionals and the ```break``` and ```continue``` statements.

Writing the word ```break``` in a loop with cause that loop to exit. If the ```break``` statement is within multiple nested loops, only the inner-most (most indented) loop will be broken out of.

Writing the word ```continue``` means the remainder of the indented content of a loop will not be executed and the next iteration will begins immediately.

By placing ```break``` and ```continue``` statements within conditionals within a loop, it's possible to control exactly which parts of the loop are executed and when the loop terminates.

For example, consider this code designed to find the smallest number which is divisible by every number between 1 and 6:

In [ ]:
#We only need consider numbers up to 6! as we know 6! will have this property. Loop over all these candidate numbers
for candidate in range(1, 2*3*4*5*6+1):

  #Create a variable to check if this candidate fulfils our conditions. Assume it is, until we know better.
  fits_criteria=True

  #Loop over all the numbers from 1 to 6 to see if the candidate divides by them using the modulo function
  for divisor in range(1,7):

    if candidate%divisor!=0:
      #If the candidate is not divisible by our divisor it does not fit our conditions, so note this and beak out of this inner loop.
      fits_criteria=False
      break

  if not fits_criteria:
    #If the candidate does not fit the criteria then continue to the next candidate
    print("The number "+str(candidate)+" does not fit the criteria. Trying the next number.")
    continue

  #If the loop reaches this point, it is because the candidate fits our criteria. Print the number and then print it and break out of the loop to avoid checking other numbers
  print("The number "+str(candidate)+" is divisible by the numbers 1-6. Stopping the search.")
  break

### Extension Exercise
Construct a program below which will print all the prime numbers below 100. You do not need to print a message when a number is not prime. Hint: you may want to use the modulo (```%```) function, nested loops and an ```if``` statement.

In [42]:
primes = []
for candidate in range(2,100):
  not_a_prime = False
  for prime in primes:
    if candidate % prime == 0:
      not_a_prime = True
      break
  if not not_a_prime:
    primes.append(candidate)
print(primes)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

In [36]:
#@title

#Construct a list to hold the primes
primes=[]

#Loop over all the numbers we're testing
for candidate in range(2, 100):
  #Initially assume the candidate might be a prime
  not_a_prime=False

  #Loop over all the current primes
  for prime in primes:

    #If the modulo of the candidate and the prime is zero then candidate is a multiple of prime and so candidate is not prime
    if candidate%prime==0:
      not_a_prime=True
      break

  #If the candidate is not a multiple of any prime small than candidate, it must be prime
  if not not_a_prime:
    #Add the candidate to the list of primes
    primes.append(candidate)

#Print the list of primes
print(primes)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]